
<div class="container">
    <div class=" row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Book your trade</h1>
                    <br>
                </div>
                <form>
                    <form [formGroup]="bookTrade" (ngSubmit)="tradeBook()" onkeydown="return event.key != 'Enter';">
                        <div class="mb-3">
                            <div class= "customerLabel">
                                <label style="flex: 100px;" for="customerName"  class="form-label">Customer Name</label>
                                <span class="text-danger" *ngIf="submitted && bookTrade.hasError('required','customerName')">*Name is required</span>
                            </div>
                            <input formControlName="customerName" placeholder="Enter your name" type="text" class="form-control" id="customerName" required >
                           <span class="text-danger" *ngIf="bookTrade.controls['customerName'].dirty && bookTrade.hasError('pattern','customerName')">*Invalid Name</span> 
                        </div>
                        <div class="mb-3">
                            <label for="currencyPair" class="form-label">Currency Pair</label>
                            <!-- <input formControlName="currencyPair" type="text" class="form-control" id="currencyPair"> -->
                            <select class="form-select" formControlName="currencyPair" aria-label="Default select example" id="currencyPair">
                                <option value="USDINR"> USD/INR </option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <div class="amountLabel">
                                <label style="flex: 40px;" for="amount" class="form-label">Amount</label>
                                <span class="text-danger" *ngIf="submitted && bookTrade.hasError('required','amount')">*Amount value is required</span>
                            </div>
                            <input formControlName="amount" placeholder="Enter the number" type="number" class="form-control" id="amount" required>
                            <span style="color: red" 
                            *ngIf="bookTrade.controls['amount'].dirty && bookTrade.hasError('min','amount')">invalid amount</span>
                        </div>
                    
                        <div class="mb-3 toggle">
                            <div class="form-check form-switch" (click)="toggle()">
                                <input class="form-check-input" type="checkbox" id="getRateYesOrNo">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Want to know the rate</label>
                              </div>
                        </div>
                
                        <button type="submit" class="btn btn-primary book">Book</button>
                        <button type="submit" [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-primary cancel">Back</button>
                    </form>

                </form>
                    <div class="popup" id="ConfirmationPopup" >
                        <img src="../../assets/Charco - Inbox.png">
                        <h2>Confirmation!</h2>
                        <p>{{message}}</p>
                        <button type="submit" class ="btn btn-primary book" (click)="booking('book')">ConfirmTrade</button>
                        <button type="submit" class = "btn btn-primary cancel" routerLinkActive="router-link-active"  (click)="booking('cancel')">cancel</button>
                    </div>
                    <div class="resultPopUp" id="resultPopUp" >
                        <img src="../../assets/Hands - Phone.png">
                        <p>{{message}}</p>
                        <button type="submit" [routerLink]="['/bookTrade']" routerLinkActive="router-link-active" [routerLink]="['/home']" class = "btn btn-primary back">Ok</button>
                    </div>
            </div>
        </div>
    </div>

</div>
