<app-side-menu-bar></app-side-menu-bar>
<div class="container">
    <div class="card-group">
        <div class="card">
          <img class="card-img-top first" src="../../assets/Allura - UI Windows.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Book your trade</h5>
            <p class="card-text">You can book your trade just by clicking the button</p>
            <button type="button" class="btn btn-primary" [routerLink]="['/bookTrade']" routerLinkActive="router-link-active"  >Trade</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/Allura - Feedback Session.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trade History</h5> 
            <p class="card-text">Your previous trades will be displayed here in the table formate</p>
            <button type="button" class="btn btn-primary" [routerLink]="['/tradeHistory']" routerLinkActive="router-link-active" >History</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top exitImg" src="../../assets/Allura - Social Media.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Exit</h5>
            <p class="card-text">Have a nice day</p>
            <br><br>
            <button  type="button" (click)="onBack()" class="btn btn-primary" [routerLink]="['exit']" >Exit</button>
          </div>
        </div>
      </div>
      <!-- <div>
        <img src="../../assets/confirm.png">
      </div> -->
</div>

