.pagination{
    display: flex;
    color: var(--text-color);
}

.table-responsive{
    left: 270px;
    position: absolute;
    top:100px;
    width: fit-content;

}
.table{
    background-color: var(--primary-color-light);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    color: var(--text-color);
}

@media(max-width:1000px) {
    .pagination{
        width: 300px;
    }
}